doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Chat



    body
        h1 Подтверждение email
        p  Для завершения регистрации перейдите по ссылке
        p
            a(href='http://localhost:3000/confirm/' + token) Подтвердить регистрацию
